  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
    <link rel="stylesheet" href="/public/assets/css/style.css">
  </head>
  <body>
    
    <!-- Image cards for restaurants -->
    <div class="cards-container">
      {{"restaurants images 1"}}
        <div class="card">
          <img class="card-image" src="{{this}}" />
        </div>
      {{/each}}
    </div>

    <div class="cards-container">
      {{"restaurants images 2"}}
        <div class="card">
          <img class="card-image" src="{{this}}" />
        </div>
      {{/each}}
    </div>

    <div class="cards-container">
      {{"restaurants images 3"}}
        <div class="card">
          <img class="card-image" src="{{this}}" />
        </div>
      {{/each}}
    </div>

    <div class="cards-container">
      {{"restaurants images 4"}}
        <div class="card">
          <img class="card-image" src="{{this}}" />
        </div>
      {{/each}}
    </div>

    <div class="cards-container">
      {{"restaurants images 5"}}
        <div class="card">
          <img class="card-image" src="{{this}}" />
        </div>
      {{/each}}
    </div>

    <div class="cards-container">
      {{"restaurants images 6"}}
        <div class="card">
          <img class="card-image" src="{{this}}" />
        </div>
      {{/each}}
    </div>

    <div class="cards-container 7">
      {{"restaurants images"}}
        <div class="card">
          <img class="card-image" src="{{this}}" />
        </div>
      {{/each}}
    </div>

    <div class="cards-container 8">
      {{"restaurants images"}}
        <div class="card">
          <img class="card-image" src="{{this}}" />
        </div>
      {{/each}}
    </div>

    <!-- Scrollable containers with checkboxes -->
    <div id="diet-checkboxes" class="scrollable-container">
      {{""}}
        <div>
          <input type="checkbox" />
          {{this}}
        </div>
      {{""}}
    </div>
    <div id="allergy-checkboxes" class="scrollable-container">
      {{#each items}}
        <div>
          <input type="checkbox" />
          {{this}}
        </div>
      {{/each}}
    </div>

  </body>
</html>
