

 <!-- Image cards for restaurants -->

   {{!-- <ul>{{#each restaurants}}<li> {{restaurant_name}}
    {{#if is_vegetarian}}
    
    {{else}}
  
    {{/if}}


   </li>{{/each}}</ul> --}}
      <div class="cards-container">
       
      
      <button id="comment-button">+</button>
          <div class="textbox" id="comment-textbox">
            <textarea rows="5" cols="50"></textarea>
            <br><br>
            <button>Submit</button>
          </div>


    <!-- Scrollable containers with checkboxes -->
    <div id="diet-checkboxes" class="scrollable-container">
      <ul>
        {{#each restaurants}}
        <li>{{restaurant_name}}
          {{#if is_vegetarian}}
    
          {{else}}
        
          {{/if}}

          {{#if is_vegan}}
    
          {{else}}
        
          {{/if}}

          {{#if is_glutenfree}}
    
          {{else}}
        
          {{/if}}

          {{#if is_vegetarian}}
    
          {{else}}
        
          {{/if}}

        </li>
        {{/each}}
      </ul>
      <input class="checkbox">
    </div>

    <div id="allergy-checkboxes" class="scrollable-container">
        <ul>
        {{#each items}}
        {{!-- {{#each items as |item|}}
        {{item}} --}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <input class="checkbox">
    </div>


 {{!-- <!-- Image cards for restaurants -->
    {{#each restaurants as |restaurant|}}
      <div class="cards-container">
        <h2>{{{ restaurant.restaurant_name }}}</h2>
      </div>
    {{/each}} --}}