<div id="idContainer">
    <h1>{{name}}</h1>

    {{!-- change to data source image --}}
    <img id="idImage" src={{image}} alt="Resturant image">

    <div style="padding-top: 20px;">
        {{#if vegetarian}}
            <h5 style="color: green;">Vegetarian</h5>
            {{else}}
            <h5 style="color: red;">No vegetarian options</h5>
        {{/if}}

        {{#if vegan}}
            <h5 style="color: green;">Vegan</h5>
            {{else}}
            <h5 style="color: red;">No vegan options</h5>
        {{/if}}

        {{#if gf}}
            <h5 style="color: green;">Gluten Free</h5>
            {{else}}
            <h5 style="color: red;">No gluten free options</h5>
        {{/if}}
    </div>
</div>